<%= render 'shared/page_title', title: "Chef #{@chef.chefs_name}'s profile "%>

<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
        <%= gravatar_for @chef, size: 150%>
    </div>
</div>

<% if @chef.recipes.count != 0%>
    <h4 align="center"><%= @chef.chefs_name %>'s recipes </h4>
    <%= render 'recipes/recipe', obj: @chef.recipes%>
<% else %>
    <h4 align="center"> <%=@chef.chefs_name%> has no recipes yet! </h4>
<% end %>